.header {
  background-color: $color-primary;
  color: #fff;
  height: 70vh;

  .btn {
    margin-left: -10px;
  }

  .social {
    margin: 1rem 2rem;

    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 1.4rem;
    margin-bottom: 3rem;

    &__link {
      color: #fff;
      font-size: 2rem;
      transition: all 0.25s;

      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
