.header {
  background-color: $color-primary;
  color: #fff;
  height: 75vh;
  display: grid;
  align-content: center;

  @media only screen and (max-width: 30em) {
    height: 100vh;
  }

  .social {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 1.5rem;
    align-items: center;
    margin-left: -10px;

    @media only screen and (max-width: 30em) {
      justify-content: center;
      gap: 1rem;
    }

    &__link {
      font-size: 2rem;
      color: #fff;
      transition: all 0.25s;

      &:hover {
        transform: translateY(-4px);
      }

      &:active {
        transform: translateY(4px);
      }
    }
  }
}
