.projects {
  &__heading {
    margin-bottom: 1rem;
  }

  .project {
    &__header {
      margin-top: 0;
    }

    &__description {
      margin-bottom: 0.7rem;
    }

    &__techlist {
      list-style: none;
      display: flex;
      margin-bottom: 1.2rem;
      padding-left: 0;

      li {
        margin-right: 1.5rem;
      }
    }

    button:nth-child(1) {
      margin-left: -10px;
    }
  }
}

.row-spacing {
  display: grid;
  row-gap: $section-spacing;

  @media only screen and (max-width: 50em) {
    row-gap: $section-spacing--small;
  }
}
